<div class="col-md-5 col-md-push-1 animate-box">
					
    <div class="gtco-contact-info">
        <h3>Informações de Contato</h3>
        <ul>
            <li class="address">R. São Paulo, 101 - 12ª andar - Centro, Belo Horizonte - MG, 3000-730</li>
            <li class="phone"><a href="tel://31988967985">(31) 98896-7985</a></li>
            <li class="email"><a href="mailto:contato@hcode.com.br">contato@nawe.online</a></li>
            <li class="url"><a href="https://www.nawe.com.br">nawe.online</a></li>
        </ul>
    </div>


</div>